# Build folder and log file
build/
build.log


# Documentation LaTeX
documentation/*.acn
documentation/*.acr
documentation/*.alg
documentation/*.aux
documentation/*.bbl
documentation/*.bcf
documentation/*.blg
documentation/*-blx.aux
documentation/*-blx.bib
documentation/*.dvi
documentation/*.fdb_latexmk
documentation/*.fls
documentation/*.glg
documentation/*.glo
documentation/*.gls
documentation/*.idx
documentation/*.ilg
documentation/*.ind
documentation/*.ist
documentation/*.lof
documentation/*.lol
documentation/*.log
documentation/*.lot
documentation/*.maf
documentation/*.mtc
documentation/*.mtc0
documentation/*.nav
documentation/*.nlo
documentation/*.out
documentation/*.pdfsync
documentation/*.ps
documentation/*.run.xml
documentation/*.snm
documentation/*.synctex.gz
documentation/*.thm
documentation/*.toc
documentation/*.vrb
documentation/*.xdy
documentation/*.tdo
